* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
  background: linear-gradient(to bottom, #373b44, #4286f4);
}

.main {
  background: url("./assets/undraw_weather_app.svg") center center no-repeat;
  height: 100vh;
  padding: 1rem;
  max-width: 80vw;
  margin: 0 auto;
}

.search-box {
  width: 100%;
  margin: 1rem 0;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.2);
}

.wheather-box {
  text-align: center;
}

.wheather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 25px 35px;
  color: #fff;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.wheather-box .wheather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box {
  animation: show-right 0.3s forwards;
  transition: 0.3s;
  margin-top: 6rem;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 800px) {
  .main {
    background: none;
  }
}

@media (max-width: 414px) {
  .main {
    background: none;
    padding: 1rem;
    max-width: 90vw;
    margin: 0 auto;
  }
}
